<div class="mb-1">
  <span class="col-3" *ngFor="let task of tasks">
    <app-chip [text]="task.summary" [selected]="task?.uid === selectedTask?.uid" [backgroundColor]="getColor(task)"
              (click)="select(task)"></app-chip>
  </span>
</div>

<form (ngSubmit)="save()" [formGroup]="form">
  <div class="row">
    <div class="col">
      <mat-form-field class="mat-form-input text-input-100">
        <mat-label i18n="task summary input field label">Summary</mat-label>
        <input #uidRef formControlName="summary"
               i18n-placeholder="task due summary input field placeholder" matInput [maxlength]="summaryMaxLength"
               placeholder="e.g. Feed the cat"
               required tabindex="0">
        <span class="character-counter">{{uidRef.value.length}}/{{summaryMaxLength}}</span>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="mat-form-input">
        <mat-label i18n="task due date input field label">Due date</mat-label>
        <input [matDatepicker]="picker" formControlName="dueDate" matInput>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-checkbox color="primary" formControlName="completed" i18n
                    [disabled]="selectedTask !== undefined && selectedTask.completed">Completed
      </mat-checkbox>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="mat-form-textarea-w-100">
        <mat-label i18n="task due description input field label">Description</mat-label>
        <textarea #description formControlName="description" cdkAutosizeMaxRows="15"
                  cdkAutosizeMinRows="2"
                  cdkTextareaAutosize i18n-placeholder="task due description input field placeholder" matInput
                  placeholder="E.g. put cat food into the cats favorite bowl and call her with 'Madam Kitty, dinner is ready'"></textarea>
        <span class="character-counter">{{description.value.length}}</span>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="alert alert-danger" *ngIf="formError">{{formError}}</div>
      <button type="submit" mat-raised-button>
        <mat-icon aria-hidden="true" class="mr-1">save</mat-icon>
        <span>{{getSaveButtonLabel()}}</span>
      </button>
      <button type="button" mat-raised-button class="ms-3" *ngIf="selectedTask" (click)="delete(selectedTask)">
        <mat-icon aria-hidden="true" class="mr-1">delete</mat-icon>
        <span i18n="Delete task button">Delete</span>
      </button>
    </div>
  </div>
  <div class="alert alert-info mt-3">
    <h3 i18n="todo list info label">About this ToDo list</h3>
    <p i18n="todo list info paragraph">This ToDo list saves tasks in the local browser cache as well as in the backend
      application. The frontend can be used without the backend, e.g. when the backend is offline. When the backend
      comes back online, the tasks are synchronized between frontend and backend on page reload. Because of a race
      condition, sometimes two reloads might be necessary.</p>
  </div>
</form>
